# Junk that could exist anywhere:
.DS_Store
*.swp
*.tmp

# Project files that should not be in the repo
.project
.settings/
.settings.xml
.c9settings.xml
.settings.xml.old
.*.gz

# A handy place to put stuff that git should ignore:
/ignore/
support/async/
support/dryice/
support/jsdom/
support/node-htmlparser/
support/node-o3-xml/
support/requirejs/
support/node-o3-xml-v4/lib/o3-xml/index.js
support/node-o3-xml-v4/lib/o3-xml/o3.js
support/node-o3-xml-v4/lib/o3-xml/o3.node